<!-- templates/layout.html -->
<!doctype html>
<html>
  <head>
    <title>Job Board</title>
        <link> <a rel="stylesheet"></a>  <a href="{{url_for('jobs', filename='static/css/bulma.min.css')}}"></a> </link>
        <link> <a href="{{url_for('jobs', filename='static/css/app.css')}}"></a> </link>
        <link> <a href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"></a> </link>
  </head>
  <body>
    <div class="container top">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>